body{  
    padding: 0;
    margin: 0;
  
    
} 
.imagem-logo{
    width: 50%;    
    margin-left: 30%;
   
} 
.navegation ul {    
    margin: 0px;
    background-color: #3f59af;
    list-style: none;
    
}
.navegation ul li {
    display: inline;
    
}
.navegation ul li a {    
    margin-right: 50px; 
    padding: 10px 10px;
    display: inline-block;
    color: #FFFAFA;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
}
.navegation ul li a:hover {
    color: #39BBF2;
}
.search-text {    
    float: right;
    margin: 5.5px 60px 5.5px 0px;    
    display: flex;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    justify-content: center; 
}      
.search-text:focus {
    width: 200px;
    border-bottom: solid 1px #25B01C;
    outline: none;
}

.img-logo {
    background-color: #25B01C;
}

<<<<<<< HEAD
.open-menu{
    margin-top: 10%;    
    width: 200px;
    height: 200px;    
=======

.open-menu {
    float: left;
>>>>>>> b96b142b501ebc6c560b8ed73fa5906feaa54d5b
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
<<<<<<< HEAD
    
}    

=======
    padding-left: 20px;
    margin-right: 6%;
    margin-left: 3%;
    margin-top: 5%;   
}
>>>>>>> b96b142b501ebc6c560b8ed73fa5906feaa54d5b
.btn {
    float: left;
    margin: 11.5px 30px 11.5px 0px;
    display: flex;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    justify-content: center;    
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    border: 2px solid #39BBF2;
}

button:hover {
    background-color: #25B01C 
   
}
.cards {
    
   
    display: inline-block;
    border: 2px solid red;
    text-align: center;
    width: fit-content;
    margin-top: 30px;
    font-family: 'Amatic SC', cursive;
}

main {
    padding: 0em 17em;
}
